body{
  font-family: 'Open Sans', sans-serif;
  position: fixed;
}

header{
  color: #eeeeee;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  opacity: 1;
  margin-left: 50px;
}

h1{
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 33px;
  /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  margin: 10px 0 0 0;
  /*font-family: 'Open Sans', sans-serif;*/
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  margin-top: 3px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(200, 200, 200, .6);
  display: inline-block;
  opacity: .6;
}

h3{
  color: #eeeeee;
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
  font-weight: 100;
}

hr{
  border: 1px solid #333333;
  margin: 5px 0;
}

#options{
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 0 10px 20px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(60, 60, 60, .2);/*#171717;*/
}

input[type="range"]{
  width: 80px;
  margin-top: 2px;
}

label{
  width: 90px;
  color: #eeeeee;
  font-size: 13px;
  margin-right: 10px;
  text-align: right;
  float: left;
}

.fadeOut{
  opacity: 0;
}

header:hover{
  opacity:1;
}